/* ========================================================== */
/*                                                            */
/* file		: button                                       	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* buttons s ================================================ */
.btn { display: inline-block; }

.border_arrow_btn { position: relative; padding: 14px 59px 14px 23px; font-weight: 300; font-size: 15px; letter-spacing: -1.13px; border: 1px solid #000; color: #000; }

.border_arrow_btn:before { content: ''; display: inline-block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; z-index: -1; opacity: 0; transition: opacity 0.3s; }

.border_arrow_btn:after { content: ''; display: inline-block; position: absolute; top: 50%; right: 15px; margin-top: -8px; width: 9px; height: 15px; background: url(../images/common/icon_arrow_r_b.png) no-repeat; background-size: cover; }

.border_arrow_btn:hover { color: #fff; }

.border_arrow_btn:hover:before { opacity: 1; }

.border_arrow_btn:hover:after { background: url(../images/common/icon_arrow_r_w.png) no-repeat; background-size: cover; }

/* buttons e ================================================ */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: scrollbar                                  	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* scrollbar s ============================================== */
/* scrollbar e ============================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: layer_popup                                  	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* layer popup s ============================================ */
/* layer popup e ============================================ */
/* ========================================================== */
/*                                                            */
/* file		: thumbnail                                	      */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* thumbnail s ============================================== */
/* thumbnail e ============================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: filter                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* filter s ================================================= */
/************* requested interaction style examples ***********/
/* 1. bounce animation example [s] */
.bounce { outline: 0; border-color: red !important; animation-name: bounce; animation-duration: .5s; animation-delay: 0.25s; }

@keyframes bounce { 0% { transform: translateX(0px);
    timing-function: ease-in; }
  37% { transform: translateX(5px);
    timing-function: ease-out; }
  55% { transform: translateX(-5px);
    timing-function: ease-in; }
  73% { transform: translateX(4px);
    timing-function: ease-out; }
  82% { transform: translateX(-4px);
    timing-function: ease-in; }
  91% { transform: translateX(2px);
    timing-function: ease-out; }
  96% { transform: translateX(-2px);
    timing-function: ease-in; }
  100% { transform: translateX(0px);
    timing-function: ease-in; } }

/* bounce animation example [e] */
/* filter e ================================================= */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: form                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* form s =================================================== */
/* form e =================================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: tab                                      	      */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* tab s ==================================================== */
/*gray_bg_tab*/
.hs_gray_bg_tab { font-size: 0; background: #f1f1f1; }

.hs_gray_bg_tab.size01 li { width: 100%; }

.hs_gray_bg_tab.size02 li { width: 50%; }

.hs_gray_bg_tab.size03 li { width: 33.33333%; }

.hs_gray_bg_tab.size04 li { width: 25%; }

.hs_gray_bg_tab.size05 li { width: 20%; }

.hs_gray_bg_tab.size06 li { width: 16.66667%; }

.hs_gray_bg_tab li { position: relative; display: inline-block; }

.hs_gray_bg_tab li:before { content: ''; display: inline-block; clear: both; position: absolute; top: 50%; left: 0; width: 1px; height: 12px; margin-top: -6px; background: #cecece; }

.hs_gray_bg_tab li:first-child:before { display: none; }

.hs_gray_bg_tab li a { display: block; padding: 14px 0 13px; font-size: 14px; color: #888; text-align: center; }

.hs_gray_bg_tab li.on a { font-weight: bold; color: #222; }

/*red_border_tab*/
.hs_red_border_tab { position: relative; font-size: 0; background: #fff; }

.hs_red_border_tab.size01 li, .hs_red_border_tab .fcs { width: 100%; }

.hs_red_border_tab.size02 li, .hs_red_border_tab .fcs { width: 50%; }

.hs_red_border_tab.size03 li, .hs_red_border_tab .fcs { width: 33.33333%; }

.hs_red_border_tab.size04 li, .hs_red_border_tab .fcs { width: 25%; }

.hs_red_border_tab.size05 li, .hs_red_border_tab .fcs { width: 20%; }

.hs_red_border_tab.size06 li, .hs_red_border_tab .fcs { width: 16.66667%; }

.hs_red_border_tab li { display: inline-block; }

.hs_red_border_tab li a { display: block; padding: 14px 0 15px; font-size: 14px; font-weight: bold; color: #aaa; text-align: center; line-height: 1; border-bottom: 2px solid #f3f3f3; }

.hs_red_border_tab li a .s_txt { display: inline-block; margin-left: 5px; font-size: 12px; }

.hs_red_border_tab li.on a { color: #222; border-color: #e46764; }

.hs_red_border_tab.ui_tab li.on a { border-color: transparent; }

.hs_red_border_tab.ui_tab li.on:first-child a { border-color: #e46764; }

.hs_red_border_tab.ui_tab.active li.on:first-child a { border-color: transparent; }

.hs_red_border_tab.ui_tab .fcs { position: absolute; bottom: 0; left: 0; height: 2px; background-color: #c69c6d; -webkit-transform: translateX(0); -khtml-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); -webkit-transition: all 0.4s ease-in-out; -khtml-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

/* tab e ==================================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: table                                    	      */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* table s ================================================== */
/* table e ================================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: list                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* list s =================================================== */
.dot_ul > li { position: relative; margin-top: 2px; padding-left: 10px; }

.dot_ul > li:before { content: ''; position: absolute; top: 8px; left: 0; display: inline-block; width: 3px; height: 3px; background: #000; }

.sep_ul > li { display: inline-block; margin-top: 10px; margin-left: 20px; padding-left: 20px; font-size: 1.5em; line-height: 22px; letter-spacing: -1.13px; background: url(../images//common/bg_gubun.png) no-repeat 0 50%; }

.sep_ul > li:first-child, .sep_ul > li.no_sep { margin-left: 0; padding-left: 0; background: none; }

.txt_ul > li { display: inline-block; margin-top: 10px; font-size: 1.5em; line-height: 22px; letter-spacing: -1.13px; }

/* list e =================================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: content                                      	  */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* content s ================================================ */
.hidden_txt { text-indent: -5000px; font-size: 0; }

.text_desc { font-weight: 300; font-size: 1.5em; line-height: 22px; letter-spacing: -1.13px; color: #000; }

/* content e ================================================ */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: main                                   	      */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* main s =================================================== */
.sec_tit { margin-bottom: 28px; font-weight: 700; font-size: 1.4em; line-height: 20px; letter-spacing: -1.05px; text-align: center; color: #535353; }

.biz_box { position: relative; margin-bottom: 116px; }

.biz_box .sec_tit { position: absolute; top: 190px; left: 30px; }

.biz_box .biz_item .visual_img { display: inline-block; max-width: 705px; }

.biz_box .biz_item .sub_tit { font-weight: 300; font-size: 4.1em; line-height: 54px; letter-spacing: unset; }

.biz_box .biz_item_01 { text-align: right; }

.biz_box .biz_item_01 .visual_img { margin-bottom: 58px; }

.biz_box .biz_item_01 .sub_tit { margin-bottom: 65px; }

.biz_box .biz_item_01 .desc_box { margin-bottom: 65px; }

.biz_box .biz_item_01 .desc_box p { display: inline-block; max-width: 500px; margin-left: 56px; text-align: left; }

.biz_box .swiper-container { width: 100%; }

.biz_box div.swiper-pagination { bottom: 465px; }

.biz_box span.swiper-pagination-bullet { position: relative; width: 100%; height: 46px; text-align: left; line-height: 20px; font-size: 12px; color: #000; opacity: 1; background: none; }

.biz_box span.swiper-pagination-bullet:before { position: absolute; top: 50%; left: 0; margin-top: -4px; content: ''; width: 0; height: 8px; background: #00b2e2; opacity: 0.8; z-index: -1; border-radius: 4px; transition: width 0.3s; }

.biz_box span.swiper-pagination-bullet:after { display: inline-block; padding-left: 20px; height: 40px; font-weight: 300; font-size: 37px; line-height: 50px; letter-spacing: 0.67px; color: #000; transition: all 0.3s; }

.biz_box span.swiper-pagination-bullet:nth-child(1):after { content: "e-Commerce"; }

.biz_box span.swiper-pagination-bullet:nth-child(2):after { content: "AI Marketing Curator"; }

.biz_box span.swiper-pagination-bullet:nth-child(3):after { content: "UI/UX Design"; }

.biz_box span.swiper-pagination-bullet.swiper-pagination-bullet-active:after { font-weight: 400; font-size: 41px; line-height: 50px; letter-spacing: 0.67px; color: #000; }

.biz_box span.swiper-pagination-bullet.swiper-pagination-bullet-active:nth-child(1):before { width: 370px; }

.biz_box span.swiper-pagination-bullet.swiper-pagination-bullet-active:nth-child(1):after { content: "01. e-Commerce"; }

.biz_box span.swiper-pagination-bullet.swiper-pagination-bullet-active:nth-child(2):before { width: 520px; }

.biz_box span.swiper-pagination-bullet.swiper-pagination-bullet-active:nth-child(2):after { content: "02. AI Marketing Curator"; }

.biz_box span.swiper-pagination-bullet.swiper-pagination-bullet-active:nth-child(3):before { width: 370px; }

.biz_box span.swiper-pagination-bullet.swiper-pagination-bullet-active:nth-child(3):after { content: "03. UI/UX Design"; }

.biz_box .swiper-pagination-bullet-active { color: #fff; background: #007aff; }

.portfolio_box ul { width: 100%; display: flex; justify-content: center; flex-wrap: wrap; }

.portfolio_box ul > li { width: 33.33%; }

.portfolio_box ul > li a .ptfl_item { position: relative; width: 100%; }

.portfolio_box ul > li a .ptfl_item .ptfl_info { display: flex; position: absolute; top: 0; left: 0; padding: 42px 32px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); align-content: flex-end; flex-wrap: wrap; opacity: 0; transition: opacity 0.6s; }

.portfolio_box ul > li a .ptfl_item .ptfl_info p[class*="tit"] { display: block; width: 100%; color: #fff; }

.portfolio_box ul > li a .ptfl_item .ptfl_info .tit_sub { font-weight: 300; font-size: 2.5em; letter-spacing: -1.88px; line-height: 30px; }

.portfolio_box ul > li a .ptfl_item .ptfl_info .tit { margin-top: 12px; font-weight: 300; font-size: 3.1em; letter-spacing: -2.33px; line-height: 36px; }

.portfolio_box ul > li a .ptfl_item .ptfl_info .tit_desc { margin-top: 16px; font-weight: 700; font-size: 1.4em; letter-spacing: -1.05px; line-height: 18px; }

.portfolio_box ul > li.on a .ptfl_info, .portfolio_box ul > li:hover a .ptfl_info { opacity: 1; }

/* main e =================================================== */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: mypage                                   	      */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* mypage s ================================================= */
/* mypage e ================================================= */
/* ---------------------------------------------------------- */
/* ========================================================== */
/*                                                            */
/* file		: etc                                   	      */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* etc s ==================================================== */
/* etc e ==================================================== */
/* ---------------------------------------------------------- */

/*# sourceMappingURL=../css/display.css.map */
