@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: works                                   	      */
// writer	: Ryu
// date		: 20201215
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* works s ================================================= */
.con_works {
  .lnb_d1_wrap {
    li,
    a {
      float:none;
    }
  }
}

.works_box {
  position:relative;
  width:100%;
  height:100%;
  .works_img_wrap {
    display:flex;
    justify-content:center;
    width:100%;
    overflow-x:hidden;
    @include mdq_m {

    }
  }
  .works_info_wrap {
    @include posa_tl(257px,50%);
    margin-left:-(($max_w / 2) - 20px);
    .wif_date {
      @include fnt_set($eb,1.6em,unset,-0.32px);
    }
    .wif_logo {
      margin-top:12px;
    }
    .wif_subject {
      margin-top:18px;
      @include fnt_set($l,3.5em,48px,-2.63px);
    }
    .wif_detail {
      margin-top:100px;
      .wifd_tit {
        @include fnt_set($b,1.5em,unset,-1.13px);
      }
      .wifd_con {
        margin-top:24px;
        @include fnt_set($b,1.5em,22px);
        & + .wifd_con {
          margin-top:5px;
        }
        li {
          position:relative;
          padding-left:14px;
          padding-bottom:6px;
          &:before {
            content:'-';
            display:inline-block;
            width:10px;
            height:10px;
            @include posa_tl();
          }
        }
      }
    }
    @include mdq_m {
      position:relative;
      top:unset;
      left:unset;
      margin-left:unset;
      padding-top:$con_pd * 2;
      @include setDfPadding();
      .wif_subject {
        font-size:28px;
      }
      .wif_detail {
        margin-top: 50px;
      }
    }
  }
}
.works_2013_01 {
  .works_img_wrap {
    img {
      margin-top: 360px;
      margin-bottom: 268px;
      margin-left: 782px;
      width: 770px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-bottom:0;
        margin-left:0;
        padding: 10px 20px;
        width:100%;
      }
    }
  }
}
.works_2014_01 {
  .works_img_wrap {
    img {
      margin-top:240px;
      margin-bottom:320px;
      margin-left:720px;
      width:929px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-bottom:0;
        margin-left:0;
        padding: 20px 20px 0;
        width:100%;
      }
    }
  }
}
.works_2014_02 {
  .works_img_wrap {
    img {
      margin-top:240px;
      margin-bottom:254px;
      margin-left:640px;
      width:594px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-bottom:0;
        margin-left:0;
        padding: 20px 20px 0;
        width:100%;
      }
    }
  }
}
.works_2014_03 {
  .works_img_wrap {
    img {
      width:379px;
    }
    @include mdq_m {
      img {
        width:100%;
      }
    }
    .img_box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      margin: 430px 0px 390px 915px;
      .text_box {
        color: #044CA3;
        .title {
            margin: 82px 0 50px;
            font-size: 3em;
            text-align: center;
            line-height: 40px;
          }
        .sub_title {
            margin-left: 70px;
            font-size: 1.6em;
            text-align: left;
            line-height : 26px;
          }
      }
    }
    @include mdq_m {
      .img_box {
        margin: 0;
        padding: 0 20px;
        .text_box {
          .title{
            margin: 50px 0 30px;
            font-size: 28px;
          }
          .sub_title {
            margin-left: 0px;
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
.works_2015_01 {
  .works_img_wrap {
    img {
      margin-top:260px;
      margin-bottom:120px;
      margin-left:640px;
      width:850px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-bottom:0;
        margin-left:0;
        padding-right:20px;
        width:100%;
      }
    }
  }
}
.works_2015_02 {
  .works_img_wrap {
    img {
      margin-top:190px;
      margin-bottom:210px;
      margin-left:840px;
      width:926px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-bottom:0;
        margin-left:0;
        padding-right:20px;
        width:100%;
      }
    }
  }
}
.works_2015_03 {
  #contents {
    padding-bottom:0 !important;
  }
  .works_img_wrap {
    img {
      margin-top:0;
      margin-left:auto;
      width:960px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-left:0;
        padding-right:20px;
        width:100%;
      }
    }
  }
}
.works_2016_01 {
  .works_img_wrap {
    img {
      margin-top:260px;
      margin-bottom:140px;
      margin-left:740px;
      width:503px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-bottom:0;
        margin-left:0;
        padding-right:20px;
        width:100%;
      }
    }
  }
}
.works_2016_02 {
  .works_img_wrap {
    img {
      margin-top:170px;
      margin-bottom:35px;
      margin-left:740px;
      width:679px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-bottom:0;
        margin-left:0;
        padding-right:20px;
        width:100%;
      }
    }
  }
}
.works_2016_03 {
  .works_img_wrap {
    img {
      margin-top:170px;
      margin-bottom:45px;
      margin-left:740px;
      width:864px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-bottom:0;
        margin-left:0;
        padding-right:20px;
        width:100%;
      }
    }
  }
}
.works_2017_01 {
  .works_img_wrap {
    img {
      margin-top:260px;
      margin-bottom:100px;
      margin-left:640px;
      width:374px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-bottom:0;
        margin-left:0;
        padding-right:20px;
        width:100%;
      }
    }
  }
}
.works_2017_02 {
  .works_img_wrap {
    img {
      margin-top:260px;
      margin-bottom:180px;
      margin-left:840px;
      width:711px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-bottom:0;
        margin-left:0;
        padding-right:20px;
        width:100%;
      }
    }
  }
}
/* 21.01.04 추가 */
.works_2018_01 {
  .works_img_wrap {
    img {
      margin-top:260px;
      margin-bottom:100px;
      margin-left:640px;
      width:374px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-bottom:0;
        margin-left:0;
        padding-right:20px;
        width:100%;
      }
    }
  }
}

.works_2019_01 {
  #contents {
    padding-bottom:0 !important;
  }
  .works_img_wrap {
    img {
      margin-top:160px;
      margin-left:640px;
      width:869px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-left:0;
        padding-right:20px;
        width:100%;
      }
    }
  }
}
.works_2019_02 {
  #contents {
    padding-bottom:0 !important;
    @include mdq_m {
      padding-bottom:80px !important;
    }
  }
  .works_img_wrap {
    img {
      
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-left:0;
        padding-right:20px;
        width:100%;
      }
    }
  }
}
.works_2019_03 {
  .works_img_wrap {
    img {
      margin-top:160px;
      margin-bottom:120px;
      margin-left:640px;
      width:1087px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-left:0;
        padding-right:20px;
        width:100%;
      }
    }
  }
}
.works_2020_01 {
  .works_img_wrap {
    background:url(#{$img_url}works/glyde/works_img_bg.png) no-repeat;
    background-size:1920px;
    background-position:50% 0;
    img {
      margin-top:80px;
      margin-left:640px;
      width:251px;
    }
    @include mdq_m {
      background:none;
      img {
        margin-top:0;
        margin-left:0;
        padding-top:20px;
        padding-right:20px;
        padding-left:20px;
        width:100%;
      }
    }
  }
}
.works_2020_02 {
  .works_img_wrap {
    img {
      margin-top:18px;
      margin-left:640px;
      width:1035px;
    }
    @include mdq_m {
      img {
        margin-top:0;
        margin-left:0;
        padding-left:20px;
        width:100%;
      }
    }
  }
}
.works_2020_03 {
  #contents {
    padding-bottom:0 !important;
    @include mdq_m {
      padding-bottom:80px !important;
    }
  }
  .works_box {
    height:100vh;
    background:url(#{$img_url}works/hyundai_greating/works_img_bg.png) no-repeat;
    background-size:cover;
    @include mdq_m {
      height:unset;
      background:none;
    }
  }
  .works_img_wrap {
    img {
      margin-top:220px;
      margin-left:640px;
      width:340px;
    }
    @include mdq_m {
      img {
        margin-top:20px;
        margin-left:0;
        padding-right:20px;
        padding-left:40px;
        width:100%;
      }
    }
  }
  .works_info_wrap {
    margin-left:-520px;
    @include mdq_m {
      margin-left:0;
    }
  }
}

/* works e ================================================= */
/* ---------------------------------------------------------- */