@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: container                                	      */
// writer	: Ryu
// date		: 20190901
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* container s ============================================== */
#container {
  @include mdq_m {
    padding-top:$header_h;
  }
}
.inner {
  max-width:$max_w;
  margin-right:auto;
  margin-left:auto;
}
/* container e ============================================== */
/* ---------------------------------------------------------- */